<div class="contact-details">
  <h2>Contact</h2>
  <div class="columns-container">
    <div class="left-column">
      <%= provider.street %>

    </div>
    <div class="right-co">
      <%= provider.phone_number if provider.phone_number %>
      <%= provider.email if provider.email %>
    </div>
  </div>
</div>
