<div class="review-cards">
  <% if @provider.reviews.empty? %>
    <h2 class="mb-2">There are no reviews yet.</h2>
  <% else %>
    <h2 class="mb-2">Reviews</h2>
  <% end %>

  <% @reviews.each do |review| %>
    <%= render "reviews/card", review: review if review.content.present? %>
  <% end %>
</div>

