<div class="review-cards neon-yellow">
  <h2> Reviews</h2>

  <%= render "reviews/review_form", provider: @provider, review: @review %>
  <% @reviews.each do |review| %>
    <%= render "reviews/card", review: review  %>
  <% end %>
</div>

