<div class="user-contact">
  <div class="image-container">
    <%= image_tag "avatar_0#{rand(7)+1}" %>
  </div>
  <p class="name"> <%= user.nickname %> </p>
  <p>  <i class="fas fa-envelope"></i></p>
</div>
