// Define variables for your color scheme

// For example:
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$pink: #FFAEC8;
$pink-transp: rgba(255, 174, 200, 0.7);
$baby-blue: #73EDE4;
$brown: #603815;
$red: #E30C12;
$orange: #F18816;
$orange-transp: rgba(241, 136, 22, 0.4);
$yellow: #E5FE02;
$yellow-transp: rgba(229, 254, 2, 0.4);
$green: #07C002;
$blue: #031A9A;
$purple: #6E2381;
$purple-transp: rgba(110, 35, 129, 0.4);
