// Define variables for your color scheme

// For example:
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$pink: #FFAEC8;
$baby-blue: #73EDE4;
$brown: #603815;
$red: #E30C12;
$orange: #F18816;
$yellow: #E5FE02;
$green: #07C002;
$blue: #031A9A;
$purple: #6E2381;
