.content {
  padding-top: 0.5rem;
}
.show-back {
  margin: 0.5rem;
}
.container.home {
  display: grid;
  grid-template-columns: 1fr;
  width: 70vw;
  margin: 0 auto;
  grid-auto-flow: row;
}

.header {
  -webkit-animation: pulse 45s infinite alternate;
  max-height: 70vh;
  margin-bottom: 5vh;
  margin-top: 64px;
  padding: 32px;
  border: solid;
  border-width: 1px;
  background-color: white;

  box-sizing: unset;
}

@keyframes pulse {
    0%    { box-shadow: 0px 0px 200px 4px $pink; }
    12.5% { box-shadow: 0px 0px 200px 4px $baby-blue; }
    25%   { box-shadow: 0px 0px 200px 4px $brown;  }
    37.5% { box-shadow: 0px 0px 200px 4px $red; }
    50%   { box-shadow: 0px 0px 200px 4px $orange; }
    62.5% { box-shadow: 0px 0px 200px 4px $yellow; }
    75%   { box-shadow: 0px 0px 200px 4px $green; }
    87.5% { box-shadow: 0px 0px 200px 4px $blue; }
    100%  { box-shadow: 0px 0px 200px 4px $purple; }

}
.intro {
  border: solid;
  border-width: 1px;
  background-color: white;
  padding: 2vw;

  margin-bottom: 8vh;
}


.header h1 {
  font-size: 8em;

}

.header p {
  font-size: 1.5em;
  margin-bottom: 5vh;
}


.container.home .form-inline.search-form {


}

.container.home .form-inline.search-form .form-group {
}

span.algolia-places {
}

.intro {
  margin-top: 10vh;
}

.intro p {
}


form.form-row.search-form {
  padding: 0;
  background-color: transparent;
}









/*.form-inline .form-group {

  display: flex !important
}*/
/*.form-inline .form-group .form-control {
*//*  width: 55vw
*/  /*flex-grow: 1;
    margin-right: 2vw;
}*/

