.container.home {
  width: 70vw !important;
}

.header {
  -webkit-animation: pulse 45s infinite alternate;
  height: 30vh;
  margin-bottom: 5vh;
  margin-top: 8vh;
  padding: 32px;
  border: solid;
  border-width: 1px;
  background-color: white;
  width: 70vw;
  box-sizing: unset;
}

@keyframes pulse {
    0%    { box-shadow: 0px 0px 200px 4px $pink; }
    12.5% { box-shadow: 0px 0px 200px 4px $baby-blue; }
    25%   { box-shadow: 0px 0px 200px 4px $brown;  }
    37.5% { box-shadow: 0px 0px 200px 4px $red; }
    50%   { box-shadow: 0px 0px 200px 4px $orange; }
    62.5% { box-shadow: 0px 0px 200px 4px $yellow; }
    75%   { box-shadow: 0px 0px 200px 4px $green; }
    87.5% { box-shadow: 0px 0px 200px 4px $blue; }
    100%  { box-shadow: 0px 0px 200px 4px $purple; }

}
.intro {
  border: solid;
  border-width: 1px;
  background-color: white;
  padding: 2vw;
  width: 70vw;
  margin-bottom: 8vh;
}


.header h1 {
  font-size: 8em;

}

.header p {
  font-size: 1.5em;
  margin-bottom: 5vh;
}


.container.home .form-inline.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70vw !important;
}

.container.home .form-inline.search-form .form-group {
  width: 30vw !important;
}



.intro {
  margin-top: 10vh;
}

.intro p {
}












/*.form-inline .form-group {
  width: 70vw !important;
  display: flex !important
}*/
/*.form-inline .form-group .form-control {
*//*  width: 55vw !important;
*/  /*flex-grow: 1;
    margin-right: 2vw;
}*/

