p, h2, a {
    font-size: 1rem;
    margin-bottom: 0;
  }

h1 {
    font-size: 24px;
  }

.columns-container {
  margin-top: 100px;
}

.show-right {
  float: right;
  position: sticky;
  top: 180px;
  height: 100%;
  width: 30%;
}

.show-left {
  display: inline-block;
  width: 65%;
}


.provider-info {
  display: grid;
  grid-template-columns: 5% 65% 30%;
  margin-bottom: 1rem;
  grid-template-areas: "star name button"
                       ". name .";
}

.shortlisted {
  font-size: 24px;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  grid-area: star;
}

.name {
  flex-grow: 1;
  grid-area: name;
}

.provider-info-right {
  grid-area: button;
  display: grid;
}

.provider-info-right a{
  grid-area: button;
  text-align: right;
}

.shortlisted .star {
    position: relative;
    top: 0px;
    right: 12px;
    transition: 0.3s;
    z-index: 5;

}

.review-cards {
  border: black 1px solid;
  padding: 1rem;
  position: relative;
  box-shadow: 0px 0px 20px 2px $pink-transp;

}

a {
  color: black;
}
