<!-- this is supposed to become a modal for a new message when a user starts a new conversation
 -->
<div class="modal-header">
  Modal header
</div>
<div class="modal-body">
  <%= render "new_message_form" %>
</div>
<div class="modal-footer">
  ciao
</div>
