
<div class="container conversations-container">
  <h1>Your Conversations</h1>
  <% @conversations.each do |conversation| %>
    <%= render "conversation_card", conversation: conversation %>
  <% end %>

</div>
