<div class="sticky-container">
  <%= render "shared/search_form_index", class:"search-form" %>
  <div id="map"
     style="width: 100%"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
