<div class="container home">
  <div class="header">
    <h1>Queermed</h1>
    <p>Share your experiences with your community, get references from real people.</p>
  </div>
  <%= render "shared/search_form", class: "search-home" %>
  <div class="intro">
    <p>Everyone should have access to appropriate health and mental health care. Yet health and mental health professionals often lack the knowledge required to provide appropriate care to the LGBTQIAP+ community, particularly when it comes to trans people. As a result, many people in the LGBTQIAP+ community fear insensitive or inappropriate treatment from care providers and struggle to find the care they need. Queermed seeks to break down these barriers for LGBTQIAP+ people by helping the community create and maintain its own list of competent and respectful health and mental health professionals. The site also provides community members with the ability to communicate directly and anonymously with each other about their experiences.
    <br><br>Queermed is especially concerned with facilitating access to general practitioners, endocrinologists, gynecologists, plastic surgeons, psychologists, and psychiatrists for the medical and social transition of trans people.
</p>
  </div>
</div>
