<div class="container home">
  <div class="header">
    <h1>Queermed</h1>
    <p>Share your experiences with your community, get references from real people.</p>
  </div>
  <%= render "shared/search_form", class: "search-home" %>
  <div class="intro">
    <p>Regular medical examinations should be a matter of course for everyone. For many LGBTQIAP + people, this is often not that easy. Fear of insensitive treatment and lack of understanding prevent many from doing so. Many doctors also do not know how to deal with trans people. In order to break down these barriers, a list of sensitive doctors is to be created here who can treat them with respect. In addition to gynecologists and general practitioners, plastic surgeons, psychotherapists, psychologists and psychiatrists should also be listed for the medical and social transition of trans people.</p>
  </div>
</div>
