<div class="container-content">
  <div class="container-index">
    <div class="cards-grid">
      <% @shortlists.each do |shortlist| %>
        <div class="card-shortlist" id=<%= shortlist.id %>>
          <%= link_to provider_path(shortlist.provider) do  %>
              <%= render "providers/card", provider: shortlist.provider, user: @user %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <%= render "shared/map" %>
</div>




