<div class="container-content">
  <div class="container-index">
    <div class="cards-grid">
      <% @providers.each do |provider| %>
        <%= render "shared/card", provider: provider, user: @user %>
      <% end %>
    </div>
  </div>
  <%= render "shared/map" %>
</div>




