.button-black {
  background-color: black;
  color: white;
  border: none;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;

  padding: 7px 17px 7px 17px;
    -webkit-box-shadow: 0 6px 6px -6px black;
     -moz-box-shadow: 0 6px 6px -6px black;
          box-shadow: 0 6px 6px -6px black;
}


