.card-provider {
  overflow: hidden;
  border: solid;
  border-width: 1px;
  color: black;
  background-color: white;
}
 .card-provider-infos a:first-child {
  // object-fit: cover;
  text-decoration: none;
  height: 100%;
  width: 100%;
  z-index: 1;

}


.card-provider h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-decoration: none;
}

.card-provider h6 {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  text-decoration: none;
}

.card-provider p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.people-icon, p.people-icon {
  position: absolute;
  right: 8px;
  bottom: 8px;
}

.star {
  position: absolute;
  top: 8px;
  right: 8px;
  transition: 0.3s;
  z-index: 5;
}

.star:hover {
  transform: scale(1.15);
}

#star {
  transition: 0.3s;
}

#star:hover {
  transform: scale(1.10);
}


.card-provider-infos {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.card-provider-infos a:hover:first-child {
  color:black;
}








