.container-content {
  display: flex;
  width: 90vw;
  margin: 0 auto;
  justify-content: space-evenly;
}

.container-index {
  display: inline-block;
  position: relative;
  width: 45%;
  margin-top: 64px;
  margin-right: 5%;
}

.cards-grid {
  display: grid;
  grid-template-columns: 1fr;
  width: 90%;
  grid-gap: 32px;
  margin-top: 2vh;
}

.search-form {
  margin-top: 4vh;
  margin-bottom: 4vh;
}

.search-form .button-black {
  margin-right: 5px;
}

// .cards-grid div:hover:nth-child(7n+1){

//   box-shadow: 0px 0px 200px 4px $pink;
//   z-index: 300;
// }

// .cards-grid div:hover:nth-child(7n+2){
//   box-shadow: 0px 0px 200px 4px $baby-blue;
//   z-index: 300;
// }

// .cards-grid div:hover:nth-child(7n+3){
//   box-shadow: 0px 0px 200px 4px $brown;
//   z-index: 300;
// }

// .cards-grid div:hover:nth-child(7n+4){
//   box-shadow: 0px 0px 200px 4px $red;
//   z-index: 300;
// }

// .cards-grid div:hover:nth-child(7n+5){
//   box-shadow: 0px 0px 200px 4px $orange;
//   z-index: 300;
// }

// .cards-grid div:hover:nth-child(7n+6){
//   box-shadow: 0px 0px 200px 4px $yellow;
//   z-index: 300;
// }

// .cards-grid div:hover:nth-child(7n+7){
//   box-shadow: 0px 0px 200px 4px $green;
//   z-index: 300;
// }

// .cards-grid div:hover:nth-child(7n+8){
//   box-shadow: 0px 0px 200px 4px $blue;
//   z-index: 300;
// }

// .cards-grid div:hover:nth-child(7n+9){
//   box-shadow: 0px 0px 200px 4px $purple;
//   z-index: 300;
// }


.cards-grid .card-shortlist:hover:nth-child(7n+1){

 box-shadow: 0px 0px 200px 4px $pink;
 z-index: 300;
}

.cards-grid .card-shortlist:hover:nth-child(7n+2){
 box-shadow: 0px 0px 200px 4px $baby-blue;
 z-index: 300;
}

.cards-grid .card-shortlist:hover:nth-child(7n+3){
 box-shadow: 0px 0px 200px 4px $brown;
 z-index: 300;
}

.cards-grid .card-shortlist:hover:nth-child(7n+4){
 box-shadow: 0px 0px 200px 4px $red;
 z-index: 300;
}

.cards-grid .card-shortlist:hover:nth-child(7n+5){
 box-shadow: 0px 0px 200px 4px $orange;
 z-index: 300;
}

.cards-grid .card-shortlist:hover:nth-child(7n+6){
 box-shadow: 0px 0px 200px 4px $yellow;
 z-index: 300;
}

.cards-grid .card-shortlist:hover:nth-child(7n+7){
 box-shadow: 0px 0px 200px 4px $green;
 z-index: 300;
}

.cards-grid .card-shortlist:hover:nth-child(7n+8){
 box-shadow: 0px 0px 200px 4px $blue;
 z-index: 300;
}

.cards-grid .card-shortlist:hover:nth-child(7n+9){
 box-shadow: 0px 0px 200px 4px $purple;
 z-index: 300;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards-grid {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards-grid {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards-grid {
    grid-template-columns: 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards-grid {
    grid-template-columns: 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards-grid {
    grid-template-columns: 1fr;
  }
}
