.footer {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}


.footer-copyright a {
  color: $pink;
  animation: rainbow 45s infinite alternate;
  animation-delay: 3s;
}


.footer .fa-github:hover {
  animation: rainbow 45s infinite alternate;;
}
.footer .fa-heart {
  color: $pink;
  -webkit-animation: rainbow 45s infinite alternate;
  animation: rainbow 45s infinite alternate;
  animation-delay: 6s;
}

@-webkit-keyframes rainbow

{
    0%    {  color: $pink; }
    12.5% {  color: $baby-blue; }
    25%   {  color: $brown; }
    37.5% {  color: $red; }
    50%   {  color: $orange; }
    62.5% {  color: $yellow; }
    75%   {  color: $green; }
    87.5% {  color: $blue; }
    100%  {  color: $purple; }
}


@keyframes rainbow {
    0%    {  color: $pink; }
    12.5% {  color: $baby-blue; }
    25%   {  color: $brown; }
    37.5% {  color: $red; }
    50%   {  color: $orange; }
    62.5% {  color: $yellow; }
    75%   {  color: $green; }
    87.5% {  color: $blue; }
    100%  {  color: $purple; }
}
