.mapboxgl-popup-content {
  border: black solid 1px;
  border-radius: 0 !important;
  h4 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-decoration: none;
  }

  p {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  text-decoration: none;
  }
  button:focus {
    border: none;
    outline: none;
  }
}



.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: black !important;
}

.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: black !important;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: black !important;
}

.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
  border-top-color: black !important;
}

.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip {
  border-top-color: black !important;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  border-bottom-color: black !important;
}

.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
  border-bottom-color: black !important;
}

.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip {
  border-bottom-color: black !important;
}

