.sticky-container {
  height: 70vh;
  width: 40vw;
  margin: 79.8px 0 5vh;
  position: sticky;
  top: 160px;
}

#map {
  height: 100%;
}

#map > img {
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: sticky;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.search-form {
  position: relative;
  padding: 20px;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
}
