#map {
  height: 80vh;
  width: 40%;
  margin: 8vh 0px 2vh 5vw;
  position: sticky;
  top: 0;
  background-color: blue;
}

#map > img {
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: sticky;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
