.modal-header {
  border: 0 !important;
}


.modal-body-style {
  textarea {
    border: 1px solid black;
    resize: none;
    outline: none;
    box-shadow: none;
    height: 250px;
  }
}
.recomm-btn-container {
  width: fit-content;
  margin: 0 auto !important;
  .button-black, .button-nav {
    margin: 8px 10px;
    width: 221.5px;
  }
  .button-black {
    margin-right: 0px;
  }
  .button-nav {
    margin-left: 0px;
  }
}


