.modal-header {
  border: 0 !important;
}


.modal-body-style {
  textarea {
    border: 2px solid black;
    resize: none;
    outline: none;
    box-shadow: none;
    height: 250px;
  }
}
.recomm-btn-container {
  width: fit-content;
  margin: 0 auto;
  .button-black {
    margin: 8px 24px;
  }
}
