.recommendations {
  border: 1px black solid;
  box-shadow: 0px 0px 20px 2px $purple-transp;
  margin-bottom: 2rem;
  padding: 8px;
}

.recommendations-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
