.review-card {
  border: 1px solid black;
  margin-top: 8px;
  .review-card-content {
    font-family: "Roboto";
    font-weight: 300 !important;
    font-size: 18px;
    padding: 8px;
  }
  .review-card-info {
    font-family: "Roboto";
    font-weight: bold;
    font-size: 14px;
  }
}

h3 {
  font-family: "Roboto";
  font-weight: light;
  font-size: 14px;
  margin-bottom: 0;
  white-space: nowrap;
  margin-right: 6px;
}

.review-card-info-name h3 {
  padding-bottom: 8px !important;
}

.review-card-info-name {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#review_content,
.form-group.review_content {
   width: 100% !important;
}

.user-position {
  position: relative;
  top: 5px;
}
























