.form-group {
}

.form-control {
  border: solid;
  border-width: 1px;
}


.form-inline.search-form {
  margin-left: 0px;
}

.container.home .form-row.search-form .col {
  padding-left: 0px;
}

.container.home .form-row.search-form button {
  margin-right: 0px;
}
