.search-form-index {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 0;
}

.search-form-index .button-black {
  margin-right: 0px;
  padding-right: 14px;
}

.form-group-index {
}

.form-control-index {
  border: solid;
  border-width: 1px;
  margin-left: 0px;
}


.form-inline.search-form-index {
  margin-left: 0px;
}
