.form-group {
}

.form-control {
  border: solid;
  border-width: 1px;
}


.form-inline.search-form {
  margin-left: 0px;
}

.container.home .form-row.search-form .col {
  padding-left: 0px;
}

.container.home .form-row.search-form button {
  margin-right: 0px;
}
.form-row.search-form-index.justify-content-between .col-2 button.button-black {
  width: 100%;
  font-size: 13px;
  padding: 9px 10px
}
