.user-contact {
  display: flex;
  height: 3rem;
  padding: 4px;
  justify-content: left;
  align-items: center;
  width: 70%;
  img {
    height: 80%;

    // margin: 0 auto;
    display: block;
    margin-right: 4px;
  }



  .image-container {
    height: 100%;
    width: 2rem;
  }
  .name {
    margin-right: 0.5rem;
  }
}

.user-contact.mt-2.p-0.user-position {
  padding-left: 8px !important;
  width: auto;
}
