
<div class="review-card">
  <div class="review-card-content">
    <%= review.content %>
  </div>
  <div class="review-card-info" >
    <div class="review-card-info-name">
      <%= review.user.nickname %>
      <h3><%= time_ago_in_words(review.created_at) %> ago</h3>
    </div>
  </div>
</div>
